@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$mainAccent: #0EC261;
$blue: #007BFF;
$mainBlack: #121212;
$grayDark: #999999;
$inputBorder: #BECAD6;
$grayLight: #EEEEEE;
$backGround: #F5F6F8;
$red: #CB3656;

$widthHeader: 64px;
$mainFont: 'Roboto', Medium;
$widtuHomepage: calc((100vw - 64px) / 2);

$widthDesktopMin: 1439px;
$widthTable: 1024px;
$widthMobile: 767px;

$widthOrderPage: 1272px;

