@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.homepage {
  width: 50%;
  min-width: 614px;
  height: 100%;
  background-color: #ffffff;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 63px;
  padding-right: 63px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.homepage__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.homepage__logo {
  margin: 0;
  font-size: 32px;
  font-family: "Roboto", Medium;
  color: #0EC261;
}

.location {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.location__svg {
  width: 20px;
  height: 18px;
}

.location__title {
  margin: 0;
  font-family: "Roboto", Medium;
  color: #999999;
}

.homepage__content {
  display: flex;
  flex-direction: column;
}

.homepage__title {
  font-family: "Roboto", Medium;
  font-size: 70px;
  margin: 0;
  font-weight: bold;
}

.homepage__logo_big {
  font-size: 70px;
  height: auto;
}

.homepage__p {
  font-family: "Roboto", Medium;
  color: #999999;
  font-size: 26px;
  font-weight: lighter;
  margin-bottom: 50px;
  width: auto;
}

.homepage__footer {
  font-family: "Roboto", Medium;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.homepage__footer-title {
  font-size: 13px;
  color: #999999;
}

.homepage__number {
  font-size: 13px;
}

@media screen and (max-width: 1100px) {
  .homepage {
    width: 100%;
    min-width: 0;
  }
}
@media screen and (max-width: 700px) {
  .homepage__title {
    font-size: 32px;
  }

  .homepage__logo_big {
    font-size: 32px;
  }

  .homepage__p {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  .homepage {
    padding: 0;
    justify-content: flex-start;
  }

  .homepage__header {
    flex-direction: column;
    align-items: end;
    padding: 16px;
    box-sizing: border-box;
  }

  .homepage__content {
    padding-top: 8vh;
  }

  .homepage__button {
    width: 100vw;
    border-radius: 0;
  }

  .homepage__content-text-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .homepage__footer {
    position: absolute;
    bottom: 0;
    padding: 16px;
    box-sizing: border-box;
    background-color: #121212;
    flex-direction: column;
    align-items: end;
  }

  .homepage__footer-title {
    color: #EEEEEE;
    margin: 0;
    margin-bottom: 8px;
  }

  .homepage__number {
    color: #0EC261;
    margin: 0;
  }
}
.order-page {
  width: 100%;
  height: 100%;
  background-color: gainsboro;
}

.header {
  width: auto;
  height: 100%;
  display: flex;
  position: fixed;
  left: -150%;
  transition: 300ms;
  z-index: 1;
  margin-left: 64px;
}

.header__active {
  left: 0;
}

.header__container-button-background {
  position: fixed;
  width: 64px;
  height: 100%;
  background-color: #121212;
}

.button-burger {
  position: absolute;
  height: 36px;
  width: 36px;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  z-index: 10;
  padding: 0;
  outline: none;
  top: 33px;
  left: 14px;
}

.button-burger__svg-line {
  width: 100%;
  padding-bottom: 4px;
  stroke: #EEEEEE;
}

.button-burger:hover .button-burger__svg-line {
  stroke: #0EC261;
}

.button-burger__cross {
  stroke: #EEEEEE;
}

.button-burger__cross:hover {
  stroke: #0EC261;
}

.language {
  background-color: #121212;
  z-index: 10;
  color: #EEEEEE;
  font-size: 18px;
  font-family: "Roboto", Medium;
  border: 0;
  outline: none;
  position: absolute;
  bottom: 33px;
  left: 11px;
}

.language:hover {
  color: #0EC261;
}

.header__left-block {
  width: calc((100vw - 64px) / 2);
  min-width: 614px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 64px;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  background-color: #121212;
}

.header__content {
  position: fixed;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 12;
}

.header__transparent-block {
  width: calc((100vw - 64px) / 2);
  height: 100vh;
  background-color: #121212;
  opacity: 0.9;
  z-index: 2;
  position: relative;
}

.header__link {
  position: relative;
  width: auto;
  text-decoration: none;
  color: #EEEEEE;
  font-size: 32px;
  font-family: "Roboto", Medium;
  margin-bottom: 15px;
  z-index: 6;
}

.header__link:hover {
  color: #0EC261;
}

.icons-social-media {
  padding-top: 10px;
}

.icons-social-media__icon:hover {
  fill: #0EC261;
}

.icons-social-media__icon {
  height: 32px;
  width: 32px;
  margin-right: 32px;
  fill: #EEEEEE;
}

@media screen and (max-width: 1100px) {
  .header__left-block {
    min-width: 0;
  }

  .header__transparent-block {
    display: none;
  }

  .header__left-block {
    width: 100vw;
  }

  .header__link {
    font-size: 28px;
  }
}
.slider {
  height: 100%;
  width: 50%;
  overflow: hidden;
  z-index: 0;
  box-sizing: border-box;
  position: relative;
}

.slider__tape {
  width: 400%;
  height: 100%;
  display: inline-flex;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  transition: 300ms;
}

.slider__tape_1 {
  right: 0;
}

.slider__tape_2 {
  right: 100%;
}

.slider__tape_3 {
  right: 200%;
}

.slider__tape_4 {
  right: 300%;
}

.slider__button-arrow {
  position: fixed;
  z-index: 1;
  background-color: #00000000;
  border: 0;
  height: 100%;
  width: 64px;
}

.slider__button-arrow_green:hover {
  background-color: #0ec26238;
}

.slider__button-arrow_blue:hover {
  background-color: #007BFF38;
}

.slider__button-arrow_red:hover {
  background-color: #ff000038;
}

.slider__button-arrow_purple:hover {
  background-color: #80008038;
}

.slider__button-rigth {
  right: 0;
}

.slider__arrow {
  width: 10px;
  height: 20px;
}

.slider__wrapped-radio {
  position: absolute;
  display: inline-flex;
  z-index: 1;
  bottom: 0;
  width: 100%;
  justify-content: center;
  padding-bottom: 36px;
}

.slider__radio-button {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -3;
}

.slider__radio-label {
  width: 8px;
  height: 8px;
  background-color: #EEEEEE;
  border-radius: 50%;
  margin-right: 10px;
}

.slider__radio-button:checked + .slider__radio-label {
  background-color: #0EC261;
}

.slider__card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

.slider__card_1 {
  background-image: url(../media/slider1.png);
  background-size: cover;
}

.slider__card_2 {
  background-image: url(../media/slider2.png);
  background-size: cover;
}

.slider__card_3 {
  background-image: url(../media/slider3.png);
  background-size: cover;
}

.slider__card_4 {
  background-image: url(../media/slider4.png);
  background-size: cover;
}

.slider__card-blackout {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, #000000, #00000000);
  display: flex;
  justify-content: center;
}

.slider__content {
  width: 100%;
  height: auto;
  margin-right: 96px;
  margin-left: 96px;
  position: relative;
  top: 30%;
}

.slider__title {
  color: #EEEEEE;
  font-family: "Roboto", Medium;
  font-size: 40px;
}

.slider__text {
  color: #EEEEEE;
  font-family: "Roboto", Medium;
  font-weight: lighter;
  font-size: 24px;
}

@media screen and (max-width: 1390px) {
  .slider__title {
    font-size: 32px;
  }

  .slider__text {
    font-size: 22px;
  }
}
@media screen and (max-width: 1100px) {
  .slider {
    display: none;
  }
}
.main-button {
  color: #EEEEEE;
  background: linear-gradient(to right, #0EC261, #039F67);
  border: 0;
  border-radius: 8px;
  width: 250px;
  text-decoration: none;
}

.main-button__title {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 18px;
  font-family: "Roboto", Medium;
  text-align: center;
}

.main-button:hover {
  filter: brightness(90%);
}

.main-button:focus {
  filter: brightness(90%);
}

.main-button:active {
  filter: brightness(80%);
}

.main-button_green {
  background: linear-gradient(to right, #0EC261, #039F67);
  width: 164px;
}

.main-button_blue {
  background: linear-gradient(to right, #0C7B67, #132949);
  width: 164px;
}

.main-button_red {
  background: linear-gradient(to right, #7B0C3B, #493013);
  width: 164px;
}

.main-button_purple {
  background: linear-gradient(to right, #720C7B, #281349);
  width: 164px;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: -10;
}

.content {
  width: calc(100% - 64px);
  height: 100vh;
  margin-left: 64px;
  background-color: #121212;
  display: flex;
  z-index: 0;
}

@media screen and (max-width: 500px) {
  .header__container-button-background {
    display: none;
  }

  .button-burger {
    background-color: #00000000;
  }

  .button-burger__svg-line {
    stroke: #121212;
  }

  .content {
    margin-left: 0;
    width: 100%;
  }

  .header {
    margin-left: 0;
  }

  .language_active {
    display: none;
  }

  .header__link {
    font-size: 22px;
  }

  .header__left-block {
    padding-left: 28px;
  }
}

/*# sourceMappingURL=index.css.map */
