@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.homepage {
  width: 50%;
  min-width: 614px;
  height: 100%;
  background-color: #ffffff;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 63px;
  padding-right: 63px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.homepage__content {
  display: flex;
  flex-direction: column;
}

.homepage__title {
  font-family: "Roboto", Medium;
  font-size: 70px;
  margin: 0;
  font-weight: bold;
}

.homepage__p {
  font-family: "Roboto", Medium;
  color: #999999;
  font-size: 26px;
  font-weight: lighter;
  margin-bottom: 50px;
  width: auto;
}

.homepage__footer {
  font-family: "Roboto", Medium;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.homepage__footer-title {
  font-size: 13px;
  color: #999999;
}

.homepage__number {
  font-size: 13px;
}

@media screen and (max-width: 1024px) {
  .homepage {
    width: 100%;
    min-width: 0;
  }
}
@media screen and (max-width: 1024px) {
  .homepage__title {
    font-size: 32px;
  }

  .homepage__p {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .homepage {
    padding: 0;
    justify-content: flex-start;
  }

  .homepage-header {
    flex-direction: column;
    align-items: end;
    padding: 16px;
    box-sizing: border-box;
  }

  .homepage__content {
    padding-top: 8vh;
  }

  .homepage__content-text-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .homepage__footer {
    position: absolute;
    bottom: 0;
    padding: 16px;
    box-sizing: border-box;
    background-color: #121212;
    flex-direction: column;
    align-items: end;
  }

  .homepage__footer-title {
    color: #EEEEEE;
    margin: 0;
    margin-bottom: 8px;
  }

  .homepage__number {
    color: #0EC261;
    margin: 0;
  }
}
.order-page {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.order-page__header-wrapped {
  width: 100%;
  max-width: 1272px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.order-page__main-block {
  max-width: 1272px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-right: 32px;
  padding-left: 32px;
  box-sizing: border-box;
}

.order-page__form {
  margin-top: 32px;
  width: calc(100% - 325px - 32px);
  padding-right: 32px;
  max-width: 738px;
}

.order-page__data-wrapped {
  border-left: 1px solid #EEEEEE;
  padding-top: 32px;
  padding-left: 32px;
  min-width: 325px;
  box-sizing: border-box;
  height: 100%;
  min-height: calc(100vh - 107px);
}

@media screen and (max-width: 1024px) {
  .order-page__main-block {
    flex-direction: column;
  }

  .order-page__form {
    width: 100%;
    max-width: 1024px;
  }

  .order-page__data-wrapped {
    border-left: 0;
    padding-left: 0;
    width: 100%;
    max-width: 736px;
  }
}
@media screen and (max-width: 767px) {
  .order-page__header-wrapped {
    margin-top: 16px;
  }

  .order-page__data-wrapped {
    min-width: 0;
  }
}
.header {
  width: auto;
  height: 100%;
  display: flex;
  position: fixed;
  left: -150%;
  transition: 300ms;
  z-index: 1;
  margin-left: 64px;
}

.header__active {
  left: 0;
}

.header__container-button-background {
  position: fixed;
  width: 64px;
  height: 100%;
  background-color: #121212;
}

.button-burger {
  position: fixed;
  height: 36px;
  width: 36px;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  z-index: 10;
  padding: 0;
  outline: none;
  top: 33px;
  left: 14px;
}

.button-burger__svg-line {
  width: 100%;
  padding-bottom: 4px;
  stroke: #EEEEEE;
}

.button-burger:hover .button-burger__svg-line {
  stroke: #0EC261;
}

.button-burger__cross {
  position: fixed;
  stroke: #EEEEEE;
}

.button-burger__cross:hover {
  stroke: #0EC261;
}

.language {
  background-color: #121212;
  z-index: 10;
  color: #EEEEEE;
  font-size: 18px;
  font-family: "Roboto", Medium;
  border: 0;
  outline: none;
  position: fixed;
  bottom: 33px;
  left: 11px;
}

.language:hover {
  color: #0EC261;
}

.header__left-block {
  width: calc((100vw - 64px) / 2);
  min-width: 614px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 64px;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  background-color: #121212;
}

.header__content {
  position: fixed;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 12;
}

.header__transparent-block {
  width: calc((100vw - 64px) / 2);
  height: 100vh;
  background-color: #121212;
  opacity: 0.9;
  z-index: 2;
  position: relative;
}

.header__link {
  position: relative;
  width: auto;
  text-decoration: none;
  color: #EEEEEE;
  font-size: 32px;
  font-family: "Roboto", Medium;
  margin-bottom: 15px;
  z-index: 6;
}

.header__link:hover {
  color: #0EC261;
}

.icons-social-media {
  padding-top: 10px;
}

.icons-social-media__icon:hover {
  fill: #0EC261;
}

.icons-social-media__icon {
  height: 32px;
  width: 32px;
  margin-right: 32px;
  fill: #EEEEEE;
}

.header__left-block_order {
  width: 100vw;
}

.header__transparent-block_order {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header__left-block {
    min-width: 0;
  }

  .header__transparent-block {
    display: none;
  }

  .header__left-block {
    width: 100vw;
  }

  .header__link {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    margin-left: 0;
  }

  .language_active {
    display: none;
  }

  .header__link {
    font-size: 22px;
  }

  .header__left-block {
    padding-left: 28px;
  }

  .button-burger {
    background-color: #00000000;
    position: absolute;
  }

  .button-burger__svg-line {
    stroke: #121212;
  }

  .header__container-button-background {
    display: none;
  }
}
.slider {
  height: 100%;
  width: 50%;
  overflow: hidden;
  z-index: 0;
  box-sizing: border-box;
  position: relative;
}

.slider__tape {
  width: 400%;
  height: 100%;
  display: inline-flex;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  transition: 300ms;
}

.slider__tape_1 {
  right: 0;
}

.slider__tape_2 {
  right: 100%;
}

.slider__tape_3 {
  right: 200%;
}

.slider__tape_4 {
  right: 300%;
}

.slider__button-arrow {
  position: fixed;
  z-index: 1;
  background-color: #00000000;
  border: 0;
  height: 100%;
  width: 64px;
}

.slider__button-arrow_green:hover {
  background-color: #0ec26238;
}

.slider__button-arrow_blue:hover {
  background-color: #007BFF38;
}

.slider__button-arrow_red:hover {
  background-color: #ff000038;
}

.slider__button-arrow_purple:hover {
  background-color: #80008038;
}

.slider__button-rigth {
  right: 0;
}

.slider__arrow {
  width: 10px;
  height: 20px;
}

.slider__wrapped-radio {
  position: absolute;
  display: inline-flex;
  z-index: 1;
  bottom: 0;
  width: 100%;
  justify-content: center;
  padding-bottom: 36px;
}

.slider__radio-button {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -3;
}

.slider__radio-label {
  width: 8px;
  height: 8px;
  background-color: #EEEEEE;
  border-radius: 50%;
  margin-right: 10px;
}

.slider__radio-button:checked + .slider__radio-label {
  background-color: #0EC261;
}

.slider__card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

.slider__card_1 {
  background-image: url(../media/slider1.png);
  background-size: cover;
}

.slider__card_2 {
  background-image: url(../media/slider2.png);
  background-size: cover;
}

.slider__card_3 {
  background-image: url(../media/slider3.png);
  background-size: cover;
}

.slider__card_4 {
  background-image: url(../media/slider4.png);
  background-size: cover;
}

.slider__card-blackout {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, #000000, #00000000);
  display: flex;
  justify-content: center;
}

.slider__content {
  width: 100%;
  height: auto;
  margin-right: 96px;
  margin-left: 96px;
  position: relative;
  top: 30%;
}

.slider__title {
  color: #EEEEEE;
  font-family: "Roboto", Medium;
  font-size: 40px;
}

.slider__text {
  color: #EEEEEE;
  font-family: "Roboto", Medium;
  font-weight: lighter;
  font-size: 24px;
}

@media screen and (max-width: 1439px) {
  .slider__title {
    font-size: 28px;
  }

  .slider__text {
    font-size: 20px;
  }

  .slider__content {
    margin-right: 64px;
    margin-left: 64px;
  }
}
@media screen and (max-width: 1024px) {
  .slider {
    display: none;
  }
}
.main-button {
  color: #EEEEEE;
  background: linear-gradient(to right, #0EC261, #039F67);
  border: 0;
  border-radius: 8px;
  width: 250px;
  text-decoration: none;
  display: block;
}

.main-button__title {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 18px;
  font-family: "Roboto", Medium;
  text-align: center;
}

.main-button:hover {
  filter: brightness(90%);
}

.main-button:focus {
  filter: brightness(90%);
}

.main-button:active {
  filter: brightness(80%);
}

.main-button_bloked {
  background: #EEEEEE;
  color: #ffffff;
  pointer-events: none;
}

.main-button_green {
  background: linear-gradient(to right, #0EC261, #039F67);
  width: 164px;
}

.main-button_blue {
  background: linear-gradient(to right, #0C7B67, #132949);
  width: 164px;
}

.main-button_red {
  background: linear-gradient(to right, #7B0C3B, #493013);
  width: 164px;
}

.main-button_purple {
  background: linear-gradient(to right, #720C7B, #281349);
  width: 164px;
}

.main-button_order {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .main-button_order {
    width: 300px;
  }
}
@media screen and (max-width: 767px) {
  .main-button_homepage {
    width: 100vw;
    border-radius: 0;
  }

  .main-button_order {
    width: 100%;
  }
}
.homepage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.homepage-header__logo {
  margin: 0;
  font-size: 32px;
  font-family: "Roboto", Medium;
  color: #0EC261;
}

.location {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.location__svg {
  width: 20px;
  height: 18px;
}

.location__title {
  margin: 0;
  font-family: "Roboto", Medium;
  color: #999999;
}

.homepage-header__logo_big {
  font-size: 70px;
  height: auto;
}

.homepage-header_order-page {
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .homepage-header__logo_big {
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  .homepage-header {
    flex-direction: column;
    align-items: end;
    padding: 16px;
    box-sizing: border-box;
  }
}
.stage-line {
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.stage-line__content {
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 1272px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.stage-line__link {
  font-family: "Roboto", Medium;
  font-weight: Bold;
  text-decoration: none;
  color: #999999;
  pointer-events: none;
}

.stage-line__link_active {
  pointer-events: auto;
  color: #0EC261;
}

.stage-line__arrow {
  padding-left: 16px;
  padding-right: 16px;
}

.order-page-data {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 32px;
}

.order-page-data__title {
  font-family: "Roboto", Medium;
  text-align: end;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 32px;
}

.order-page-data__price-wrapped {
  margin-bottom: 16px;
}

.order-page-data__price-alert {
  font-family: "Roboto", Medium;
  margin: 0;
  font-size: 14px;
  color: red;
}

.order-page-data__price {
  font-family: "Roboto", Medium;
  font-size: 16px;
  margin: 0;
}

.information-list {
  padding-left: 0;
}

.information-list__line {
  display: flex;
  width: 292px;
  margin-bottom: 16px;
}

.information-list__line::after {
  background: url("https://i.stack.imgur.com/otJN0.png") repeat-x bottom;
  content: "";
  flex-grow: 1;
  order: 2;
}

.information-list__title {
  order: 1;
  font-family: "Roboto", Medium;
  font-weight: 300;
  margin-right: 5px;
  display: flex;
  align-items: flex-end;
  font-size: 14px;
}

.information-list__chapter {
  max-width: 45%;
  order: 3;
  font-family: "Roboto", Medium;
  color: #999999;
  text-align: right;
  font-size: 14px;
  padding-left: 5px;
}

@media screen and (max-width: 1024px) {
  .order-page-data__title {
    text-align: left;
  }

  .information-list__line {
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .order-page-data__title {
    margin-bottom: 16px;
  }
}
.select {
  width: 180px;
  height: 100%;
  min-width: 180px;
}

.select__input-wrapped {
  border-bottom: 1px solid #999999;
  padding-right: 8px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.select__input {
  border: 0;
  font-family: "Roboto", Medium;
  font-size: 14px;
  font-weight: lighter;
  outline: none;
  width: 100%;
}

.select__cross {
  width: 8px;
  height: 8px;
}

.select__cross_off {
  display: none;
}

.select__list {
  display: flex;
  flex-direction: column;
  width: 180px;
  box-sizing: border-box;
  overflow: auto;
  height: auto;
  position: absolute;
  background-color: #ffffff;
}

.select__bar {
  max-height: 95px;
  border: 1px solid #EEEEEE;
  display: none;
  padding-top: 8px;
}
.select__bar .simplebar-track {
  max-width: 5px;
  border-left: 1px solid #EEEEEE;
}
.select__bar .simplebar-scrollbar:before {
  margin-left: -1px;
  width: 2px;
}
.select__bar .simplebar-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.select__bar .simplebar-wrapper {
  display: flex;
}

.simplebar-mask {
  width: 220px;
  display: flex;
}

.select__bar-wrapped {
  position: absolute;
  display: flex;
  width: 100%;
}

.select__list_active {
  display: flex;
}

.select__item {
  border: 0;
  background-color: #ffffff;
  font-family: "Roboto", Medium;
  text-align: left;
  color: #999999;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.step-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 32px;
}

.step-1__items-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: auto;
  margin-bottom: 45px;
}

.step-1__items-city {
  display: flex;
  margin-bottom: 24px;
}

.step-1__items-p {
  font-family: "Roboto", Medium;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  margin-right: 8px;
}

.step-1_items-p_point {
  width: 100%;
}

.step-1__items-point {
  width: auto;
  height: auto;
  display: flex;
  align-items: end;
}

.step-2 {
  width: 100%;
}

.step-2__category-wrapped {
  display: flex;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.step-2__block-tile {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 32px;
}

.step-2__tile {
  border: 1px solid #EEEEEE;
  height: 192px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.step-2__tile:hover {
  border: 1px solid #999999;
}

.step-2__tile-input {
  width: 0;
  height: 0;
  position: fixed;
  opacity: 0;
  z-index: -3;
}

.step-2__tile-input:checked + .step-2__tile {
  border: 1px solid #0EC261;
}

.step-2__tile-name {
  font-family: "Roboto", Medium;
  font-size: 18px;
  margin: 0;
}

.step-2__tile-price {
  font-family: "Roboto", Medium;
  font-size: 14px;
  color: #999999;
  margin: 0;
  margin-bottom: 36px;
}

.step-2__tile-img-wrapped {
  width: 100%;
  height: 120px;
  padding-left: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: end;
  align-items: end;
}

.step-2__tile-img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  position: relative;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1024px) {
  .step-2__tile-input {
    top: auto;
    bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .step-2__block-tile {
    grid-template-columns: 1fr;
  }

  .loading {
    left: calc(50% - 30px);
  }
}
.step-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 32px;
}

.step-3__color-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 32px;
}

.step-3__title {
  font-family: "Roboto", Medium;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.step-3__date-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: auto;
  margin-top: 16px;
  margin-bottom: 32px;
}

.step-3__data-title {
  font-family: "Roboto", Medium;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  display: flex;
  align-items: flex-end;
  margin-right: 8px;
}

.step-3__data-container-line {
  display: flex;
  margin-bottom: 12px;
}

.step-3__example-custom-input {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 24px;
  border: 0;
  text-align: left;
  font-size: 14px;
  font-family: "Roboto", Medium;
  font-weight: 300;
}

.step-3__date-input-wrapped {
  width: 224px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
  border-bottom: 1px solid #999999;
}

.step-3__placeholder {
  margin: 0;
  position: absolute;
  width: 224px;
  height: 24px;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto", Medium;
  color: #999999;
  display: flex;
  align-items: center;
}

.step-3__placeholder_off {
  display: none;
}

.step-3__placeholder-cross_off {
  display: none;
}

.step-3__rate-container {
  margin-top: 16px;
  margin-bottom: 32px;
}

.step-3__services-container {
  margin-top: 16px;
  margin-bottom: 32px;
}

.step-4__modalWindow {
  display: none;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100Vh;
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.step-4__modalWindow_active {
  display: flex;
}

.step-4__modalWindow-title {
  font-family: "Roboto", Medium;
  font-size: 24px;
}

.step-4__modalWindow-button-container {
  display: flex;
}

.step-4__modalWindow-main-button {
  margin-right: 16px;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.step-4__modalWindow-back-button {
  background: linear-gradient(to left, #7B0C3B, #493013);
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.step-4__data-car-block {
  width: 100%;
  height: 116px;
  min-width: 126px;
  display: flex;
  justify-content: space-between;
}

.step-4__information {
  font-family: "Roboto", Medium;
  height: 116px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.step-4__information-title {
  font-size: 18px;
  margin: 0;
}

.step-4__information-line {
  display: flex;
}

.step-4__car-img {
  max-width: 100%;
  max-height: 100%;
}

.step-4__information-number-wrapped {
  display: flex;
  width: auto;
}

.step-4__information-number {
  font-size: 14px;
  margin: 0;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.step-4__information-p {
  margin: 0;
  margin-right: 5px;
  font-weight: bold;
  font-size: 14px;
}

.step-4__information-p-number {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .step-4__data-car-block {
    max-width: 736px;
  }
}
@media screen and (max-width: 767px) {
  .step-4__data-car-block {
    height: auto;
    flex-direction: column;
    max-width: 250px;
  }

  .step-4__modalWindow-button-container {
    flex-direction: column;
    align-items: center;
  }

  .step-4__modalWindow-main-button {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
.my-map {
  margin-top: 16px;
  width: 100%;
  height: 352px;
  max-width: 736px;
}

.radio-button__label {
  display: flex;
  align-items: center;
  margin-right: 16px;
  margin-bottom: 8px;
}

.radio-button__input {
  width: 0;
  height: 0;
  position: fixed;
  opacity: 0;
  z-index: -3;
}

.radio-button__point {
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #999999;
  border-radius: 50%;
  box-sizing: border-box;
}

.radio-button__title {
  font-family: "Roboto", Medium;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  margin-left: 8px;
  color: #999999;
}

.radio-button__input:checked + .radio-button__label .radio-button__point {
  border: 3px solid #0EC261;
}
.radio-button__input:checked + .radio-button__label .radio-button__title {
  color: black;
}
.radio-button__input:checked + .radio-button__label .checkbox-button__point {
  border: 1px solid #0EC261;
}
.radio-button__input:checked + .radio-button__label .checkbox-button__point .checkbox-button__check {
  display: block;
}

.checkbox-button__point {
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #999999;
  box-sizing: border-box;
}

.checkbox-button__check {
  width: 13px;
  height: 10px;
  position: absolute;
  display: none;
}

.loading {
  height: 60px;
  width: 60px;
  border-top: 6px solid #0EC261;
  border-left: 6px solid #ffffff00;
  border-right: 6px solid #ffffff00;
  border-bottom: 6px solid #0EC261;
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s linear 0s normal none infinite running rot;
  position: relative;
  left: calc(100% - 30px);
  top: 50%;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: -10;
}

.content {
  width: calc(100% - 64px);
  height: 100vh;
  margin-left: 64px;
  background-color: #121212;
  display: flex;
  z-index: 0;
}

@media screen and (max-width: 767px) {
  .content {
    margin-left: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
