@import 'general.scss';

.loading {
  height: 60px;
  width: 60px;
  border-top: 6px solid $mainAccent;
  border-left: 6px solid #ffffff00;
  border-right: 6px solid #ffffff00;
  border-bottom: 6px solid $mainAccent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s linear 0s normal none infinite running rot;
  position: relative;
  left: calc(100% - 30px);
  top: 50%;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}