@import "general.scss";

.stage-line {
  border-top: 1px solid $grayLight;
  border-bottom: 1px solid $grayLight;
}

.stage-line__link-container {
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: $widthOrderPage;
  margin-right: auto;
  margin-left: auto;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.stage-line__link-container_off{
  display: none;
}

.stage-line__link {
  font-family: $mainFont;
  font-weight: Bold;
  text-decoration: none;
  color: $grayDark;
  pointer-events: none;
}

.stage-line__link-wrapped {
  
}

.stage-line__link_active {
  pointer-events: auto;
  color: black;
}

.stage-line__link_now {
  color: $mainAccent;
} 

.stage-line__arrow {
  padding-left: 16px;
  padding-right: 16px;
}

.stage-line__number {
  max-width: $widthOrderPage;
  display: none;
  font-family: $mainFont;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.stage-line__number_active {
  display: block;
}
