@import 'general.scss';

.step-4 {
}

.step-4__data-car-block {
  width: 100%;
  height: 116px;
  min-width: 126px;
  display: flex;
  justify-content: space-between;
}

.step-4__information {
  font-family: $mainFont;
}

.step-4__information-title {
  font-size: 18px;
  margin-top: 0;
}

.step-4__car-img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: $widthTable) {
  .step-4__data-car-block {
    max-width: 736px;
  }
}